@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --nyanza: #d8f3dcff;
  --celadon: #b7e4c7ff;
  --celadon-2: #95d5b2ff;
  --mint: #74c69dff;
  --mint-2: #52b788ff;
  --sea-green: #40916cff;
  --dartmouth-green: #2d6a4fff;
  --brunswick-green: #1b4332ff;
  --dark-green: #081c15ff;
}

.text {
  font-style: normal;
  font-size: 2.2em;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  line-height: 1.5;
  overflow: hidden;
  width: fit-content;
  visibility: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  animation:
    typing-text 1.1s steps(14, end) 0s forwards,
    cursor 0.4s step-end infinite alternate 2.5s;
}
@keyframes typing-name {
  from { width: 0 }
  to { width: 16ch }
}
@keyframes typing-text {
  0% {
    width: 0;
    visibility: visible;
  }
  100% {
    width: 14ch;
    visibility: visible;
  }
}

