# Python virtual environment
.venv/

# Environment variables
.env

# Compiled files
__pycache__/
*.pyc

# React build and node files (if fullstack project)
node_modules/
dist/
build/

# OS-specific
.DS_Store
Thumbs.db
