.popup-textbox-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
}

.popup-textbox-container input {
  padding: 8px 12px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-size: 22px;
  outline: none;
  color: rgb(255, 255, 255);
  text-align: center;
}

.popup-textbox-container input:focus {
  background-color: #000000; 
}
